Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt) Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction
Write an introductory sentence about the notebook

This notebook is created as part of the one and only peer graded assignment in the Coursera course "Tools for Data Science".

Exercise 10 - Insert a markdown cell to list Objectives
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook

__Objectives:__
* Learn the basics of JupyterLite
- Explore data science languages and libraries
-  Practice writing and executing code cells
-  Create a table of Data Science tools
-  List arithmetic expression examples

Exercise 4 - Create a markdown cell to list data science languages
Start the cell with an overview line

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.Julia
4.Scala
5.SQL

Exercise 5 - Create a markdown cell to list data science libraries
Add an overview line to the cell

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.SciPy
4.Matplotlib
5.TensorFlow

Exercise 6 - Create a markdown cell with a table of Data Science tools
Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

Data Science Tools
------------------
Python
R
Julia

Exercise 7 - Create a markdown cell introducing arithmetic expression examples
Add a line in this cell with H3 style heading with text

Below are a few examples of evaluating arithmetic expressions in Python:
(7*100)+35
735%736

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

# Author
Karthik Sajja